<div class="row pading_small ">

  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div class="card loginForm">
      <!-- Name -->
      <div class="card-block card-content">
        <table>

            <thead>
            <tr class="second">
              <th colspan="2"><h3 class="card-title" align="left">User Information</h3></th>
            </tr>
            </thead>
          <td>
            <tr>
              <td>
                <b>Username: </b>
              </td>
              <td>
                {{currentUser?.username}}
              </td>
            </tr>
            <tr class="second">
              <td>
                <b>Email: </b>
              </td>
              <td>
                {{currentUser?.email}}
              </td>
            </tr>
          </td>

          <td>
            <tr>
              <td>
                <b>Weight: </b>
              </td>
              <td>
                {{currentUser?.weight}}
              </td>
            </tr>

            <tr>
              <td>
                <b>Height: </b>
              </td>
              <td>
                {{currentUser?.height}}
              </td>
            </tr>


            <tr>
              <td>
                <b>Age: </b>
              </td>
              <td>
                {{currentUser?.age}}
              </td>
            </tr>


            <tr>
              <td>
                <b>Sex: </b>
              </td>
              <td>
                {{currentUser?.sex}}
              </td>
            </tr>

          </td>


        </table>


      </div>
    </div>


  </div>
  <div class="col-md-2">
  </div>
</div>
